.App {
  text-align: center;
}

.Nav-bar {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.Nav-title {
    margin: 0; 
}

.Nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0; 
}

.Nav-list li {
    display: inline;
    margin-left: 20px; 
    float: right; 
}


.Map {
  height: 100vh;
  width: 50%;
}

.map-container {
  height: 100%;
  width: 100%;
}